<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <div>
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
        <form action="/createAcc" method="get">
            <button type="submit">Create Account</button>
        </form>
        <form action="/modifyAcc" method="get">
            <button type="submit">Edit Account</button>
        </form>
        <div>
            <h1>Entries</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Entry Number</th>
                        <th>Timestamp</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Relationship</th>
                        <th>Occupation</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < myEntries.length; i++) { %>
                        <tr>
                            <td><%= myEntries[i].entry_id %></td>
                            <td><%= myEntries[i].timestamp %></td>
                            <td><%= myEntries[i].age %></td>
                            <td><%= myEntries[i].gender %></td>
                            <td><%= myEntries[i].relationship %></td>
                            <td><%= myEntries[i].occupation %></td>
                            <td><%= myEntries[i].location %></td>
                            <td>
                                <form action="/entryDetails/<%= myEntries[i].entry_id %>" method="get">
                                    <button type="submit">Details</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>